#myForm{

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    gap: 1rem;
    margin: 2rem;
    padding-top: 2rem;

}


#top_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}


#bottom_small_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

#bottom_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

#lower_side_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

#reservoir_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;



}

#upper_side_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

#tail_water_width{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

#slope{
    border: none;
    box-shadow: inset var(--primary-color)
    0 0 0 0.2rem, inset var(--secondary-color)
    0 0 0 0.2rem, inset var(--tertiary-color)
    0 0 0 1.2rem;
    color: var(--primary-color);

    width: 5rem;
    height: 2rem;
    padding-left: 2rem;


}

